<!-- WITH TAILWIND -->
<div class="flex justify-center items-center py-5 bg-beige">
  <div class="bg-white p-8 rounded-lg shadow-lg max-w-3xl w-full">
    <h1 class="text-center mb-4 text-cadetblue text-xl font-semibold">
      Static Search (Signal-Static)
    </h1>
    <div class="flex justify-center mt-2">
      <input
        type="text"
        placeholder="Search items..."
        (input)="updateSearch($event)"
        class="w-1/2 p-2 mb-4 text-base border border-gray-300 rounded"
      />
    </div>
    <ul class="list-[circle] pl-6 text-gray-800">
      <li *ngFor="let item of filteredItems()" class="pb-4">{{ item }}</li>
    </ul>

    <hr class="my-6" />

    <h1 class="text-center mb-4 text-cadetblue text-xl font-semibold">
      User Search (Signal-API)
    </h1>
    <div class="flex justify-center mt-2">
      <input
        type="text"
        placeholder="Search users..."
        (input)="updateUserSearch($event)"
        class="w-1/2 p-2 mb-4 text-base border border-gray-300 rounded"
      />
    </div>
    <ul class="list-[circle] pl-6 text-gray-800">
      <li *ngFor="let user of filteredUsers()" class="pb-4">
        {{ user.firstName }} {{ user.lastName }} - {{ user.email }}
      </li>
    </ul>
  </div>
</div>
