<div class="flex justify-center mt-10">
  <div
    class="w-full max-w-4xl p-6 rounded-lg shadow-xl/30 border-2 border-gray-300"
  >
    <form [formGroup]="userForm">
      <mat-horizontal-stepper
        linear
        #stepper
        [(selectedIndex)]="currentStep"
        style="background: rgba(226, 224, 224, 0.479); border-radius: 10px"
      >
        <!-- Step 1: Basic Details -->
        <mat-step [stepControl]="basicDetails">
          <ng-template matStepLabel>Basic Details</ng-template>
          <form [formGroup]="basicDetails" class="space-y-4 max-w-xl mx-auto">
            <h2 class="text-2xl font-semibold mb-4">Basic Details</h2>

            <div>
              <label class="block font-normal">Name:</label>
              <input
                type="text"
                formControlName="name"
                placeholder="Name"
                class="w-full p-2 border rounded"
              />
              <div
                *ngIf="
                  basicDetails.get('name')?.touched &&
                  basicDetails.get('name')?.invalid
                "
                class="text-red-500 text-sm"
              >
                Name is required
              </div>
            </div>

            <div>
              <label class="block font-normal">Email:</label>
              <input
                type="email"
                formControlName="email"
                placeholder="Email"
                class="w-full p-2 border rounded"
              />
              <div
                *ngIf="
                  basicDetails.get('email')?.touched &&
                  basicDetails.get('email')?.invalid
                "
                class="text-red-500 text-sm"
              >
                Valid email is required
              </div>
            </div>

            <div>
              <label class="block font-normal">Phone Number:</label>
              <input
                type="text"
                formControlName="phoneNumber"
                placeholder="Phone Number"
                class="w-full p-2 border rounded"
              />
              <div
                *ngIf="
                  basicDetails.get('phoneNumber')?.touched &&
                  basicDetails.get('phoneNumber')?.invalid
                "
                class="text-red-500 text-sm"
              >
                Phone number is required
              </div>
            </div>

            <div>
              <label class="block font-normal">Age:</label>
              <input
                type="number"
                formControlName="age"
                placeholder="Age"
                class="w-full p-2 border rounded"
              />
              <div
                *ngIf="
                  basicDetails.get('age')?.touched &&
                  basicDetails.get('age')?.invalid
                "
                class="text-red-500 text-sm"
              >
                Age is required
              </div>
            </div>

            <div>
              <label class="block font-normal">Gender:</label>
              <select
                formControlName="gender"
                class="w-full p-2 border rounded cursor-pointer"
              >
                <option value="">Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
              <div
                *ngIf="
                  basicDetails.get('gender')?.touched &&
                  basicDetails.get('gender')?.invalid
                "
                class="text-red-500 text-sm"
              >
                Gender is required
              </div>
            </div>

            <div class="flex justify-end mt-6">
              <button
                type="button"
                class="px-8 py-2 bg-blue-800 text-white rounded"
                [disabled]="!basicDetails.valid"
                (click)="stepper.next()"
              >
                Next
              </button>
            </div>
          </form>
        </mat-step>

        <!-- Step 2: Hobbies -->
        <mat-step [stepControl]="hobbies">
          <ng-template matStepLabel>Hobbies</ng-template>

          <div formArrayName="hobbies" class="space-y-3 max-w-xl mx-auto">
            <h2 class="text-2xl font-semibold mb-4">Hobbies</h2>
            <div
              *ngFor="let hobby of getFormArrayControls(hobbies); let i = index"
              class="flex gap-2"
            >
              <input
                [formControlName]="i"
                type="text"
                placeholder="Hobby"
                class="flex-1 p-2 border rounded"
              />

              <button
                type="button"
                class="px-2 py-1 bg-red-500 text-white rounded"
                *ngIf="i > 0"
                (click)="removeField(hobbies, i)"
              >
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
              <button
                type="button"
                class="px-4 py-2 bg-green-600 text-white rounded"
                *ngIf="i === hobbies.length - 1"
                (click)="addField(hobbies)"
                [disabled]="hobbies.length >= maxEntries"
              >
                <fa-icon [icon]="faPlus"></fa-icon>
              </button>
            </div>
          </div>

          <div class="flex justify-between mt-6">
            <button
              type="button"
              class="px-8 py-2 bg-slate-800 text-white rounded"
              (click)="stepper.previous()"
            >
              Back
            </button>
            <button
              type="button"
              class="px-8 py-2 bg-blue-800 text-white rounded"
              [disabled]="hobbies.invalid"
              (click)="stepper.next()"
            >
              Next
            </button>
          </div>
        </mat-step>

        <!-- Step 3: Skills -->
        <mat-step [stepControl]="skills">
          <ng-template matStepLabel>Skills</ng-template>

          <div formArrayName="skills" class="space-y-3 max-w-xl mx-auto">
            <h2 class="text-2xl font-semibold mb-4">Skills</h2>
            <div
              *ngFor="let skill of getFormArrayControls(skills); let i = index"
              class="flex gap-2"
            >
              <input
                [formControlName]="i"
                type="text"
                placeholder="Skill"
                class="flex-1 p-2 border rounded"
              />

              <button
                type="button"
                class="px-2 py-1 bg-red-500 text-white rounded"
                *ngIf="i > 0"
                (click)="removeField(skills, i)"
              >
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
              <button
                type="button"
                class="px-4 py-2 bg-green-600 text-white rounded"
                (click)="addField(skills)"
                *ngIf="i === skills.length - 1"
                [disabled]="skills.length >= maxEntries"
              >
                <fa-icon [icon]="faPlus"></fa-icon>
              </button>
              <div
                *ngIf="skills.controls[i].touched && skills.controls[i].invalid"
                class="text-red-500 text-sm ml-1"
              >
                Skill is required
              </div>
            </div>
          </div>
          <div class="flex justify-between mt-6">
            <button
              type="button"
              class="px-8 py-2 bg-slate-800 text-white rounded"
              (click)="stepper.previous()"
            >
              Back
            </button>
            <button
              type="button"
              class="px-8 py-2 bg-blue-800 text-white rounded"
              [disabled]="skills.invalid"
              (click)="stepper.next()"
            >
              Next
            </button>
          </div>
        </mat-step>

        <!-- Step 4: Certificates and Terms -->
        <mat-step [stepControl]="certificates">
          <ng-template matStepLabel>Certificates & Terms</ng-template>

          <div formArrayName="certificates" class="space-y-3 max-w-xl mx-auto">
            <h2 class="text-2xl font-semibold mb-4">Certificates</h2>
            <div
              *ngFor="
                let cert of getFormArrayControls(certificates);
                let i = index
              "
              class="flex gap-2"
            >
              <input
                [formControlName]="i"
                type="text"
                placeholder="Certificate"
                class="flex-1 p-2 border rounded"
              />

              <button
                type="button"
                class="px-2 py-1 bg-red-500 text-white rounded"
                *ngIf="i > 0"
                (click)="removeField(certificates, i)"
              >
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
              <button
                type="button"
                class="px-4 py-2 bg-green-600 text-white rounded"
                (click)="addField(certificates)"
                *ngIf="i === certificates.length - 1"
                [disabled]="certificates.length >= maxEntries"
              >
                <fa-icon [icon]="faPlus"></fa-icon>
              </button>
            </div>
          </div>
          <div class="mt-6 max-w-xl mx-auto">
            <label class="inline-flex items-center">
              <input
                type="checkbox"
                formControlName="terms"
                class="mr-2 cursor-pointer"
              />
              <span>I agree to the terms and conditions</span>
            </label>
            <div
              *ngIf="
                userForm.get('terms')?.touched && userForm.get('terms')?.invalid
              "
              class="text-red-500 text-sm"
            >
              You must agree before submitting
            </div>
          </div>

          <div class="flex justify-between mt-6">
            <button
              type="button"
              class="px-4 py-2 bg-gray-600 text-white rounded"
              (click)="stepper.previous()"
            >
              Back
            </button>
            <button
              type="button"
              class="px-8 py-2 text-white rounded"
              [ngClass]="{
                'bg-green-800': userForm.valid,
                'bg-green-200': !userForm.valid
              }"
              [disabled]="!userForm.valid"
              (click)="onSubmit(); stepper.next()"
            >
              Submit
            </button>
          </div>
        </mat-step>

        <!-- Step 5: Output -->
        <mat-step>
          <ng-template matStepLabel>Submitted Data</ng-template>
          <div class="flex flex-col items-center">
            <div
              *ngIf="submittedData"
              class="w-full max-w-md p-6 bg-white rounded-lg shadow"
            >
              <h2 class="text-xl font-bold mb-4 text-center">Submitted Data</h2>

              <!-- User details -->
              <div class="mb-4">
                <p class="font-semibold">
                  Name:
                  <span class="font-normal">{{
                    submittedData.basicDetails.name
                  }}</span>
                </p>
                <p class="font-semibold">
                  Email:
                  <span class="font-normal">{{
                    submittedData.basicDetails.email
                  }}</span>
                </p>
                <p class="font-semibold">
                  Phone Number:
                  <span class="font-normal">{{
                    submittedData.basicDetails.phoneNumber
                  }}</span>
                </p>
                <p class="font-semibold">
                  Age:
                  <span class="font-normal">{{
                    submittedData.basicDetails.age
                  }}</span>
                </p>
                <p class="font-semibold">
                  Gender:
                  <span class="font-normal">{{
                    submittedData.basicDetails.gender
                  }}</span>
                </p>
                <p class="font-semibold mb-2">
                  Agreed to Terms:
                  <span class="font-normal">{{
                    submittedData.terms ? "Yes" : "No"
                  }}</span>
                </p>
              </div>

              <!-- Hobbies -->
              <div class="mb-4" *ngIf="submittedData?.hobbies.length > 0">
                <p class="font-semibold mb-1">Hobbies:</p>
                <ul class="list-disc pl-6">
                  <li *ngFor="let hobby of submittedData?.hobbies">
                    {{ hobby }}
                  </li>
                </ul>
              </div>

              <!-- Skills -->
              <div class="mb-4" *ngIf="submittedData?.hobbies.length > 0">
                <p class="font-semibold mb-1">Skills:</p>
                <ul class="list-disc pl-6">
                  <li *ngFor="let skill of submittedData.skills">
                    {{ skill }}
                  </li>
                </ul>
              </div>

              <!-- Certificates -->
              <div *ngIf="submittedData?.hobbies.length > 0">
                <p class="font-semibold mb-1">Certificates:</p>
                <ul class="list-disc pl-6">
                  <li *ngFor="let cert of submittedData.certificates">
                    {{ cert }}
                  </li>
                </ul>
              </div>
            </div>

            <div class="flex justify-center mt-6">
              <button
                type="button"
                class="px-8 py-2 bg-red-900 text-white rounded"
                (click)="resetForm(); stepper.reset()"
              >
                Reset
              </button>
            </div>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </form>
  </div>
</div>
